/* .colorSection {
  height: 100vh;
  width: 100vw;
  /* background-image: linear-gradient(45deg,
  #21092f, #47A2FF, #D53AFF, #FF834A); */
  /* background-image: url('./bg-main-mobile.png');
  background-size: cover; */
/* } */ 
